.Main {
  width           : 26px;
  height          : 20px;

  border-top      : 3px solid black;
  border-bottom   : 3px solid black;

  margin-left     : 6px;
  position        : relative;
  background-color: var(--chat-color);
  cursor          : pointer;

  span {
    position: absolute;
    top: 8px;
    width: 26px;
    border-bottom: 3px solid black;
  }
}

.Content {
  position: absolute;
  top     : 52px;
  left    : 5px;
  bottom  : 0px;

  width : max-content;
  height: max-content;
  border: 1px solid black;

  display       : flex;
  flex-direction: column;
  row-gap       : 4px;

  background-color: var(--background-color);

  .Item {
    padding-left : 12px;
    padding-right: 8px;

    &:hover {
      background-color: var(--highlited-color);
      transition      : 0.2s;
    }

    img {
      max-width : 32px;
      max-height: 32px;
    }

    span {
      font-size: 16px;
      cursor   : pointer;
    }
  }
}